@charset "utf-8";

@font-face {
  font-family: "LINESeedJP_OTF_Bd";
  src: url(../fonts/LINESeedJP_OTF_Bd.woff) format("woff"); /* フォントファイルのパスとフォーマットを指定 */
}

body {
  font-family: "LINESeedJP_OTF_Bd", "Helvetica Neue", "Helvetica",
  "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
  sans-serif;
}